*{
    margin: 0;
    padding: 0;
    /* border: 1px solid rgba(255, 0, 0, 0.496); */
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url("images//banner/banner2.png");
    display: flex;
    align-items: center;

}
.right-aria {
    width: 50%;
    text-align: right;
}
.banner-title{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-size: 65px;  
    font-family: 'Lexend', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.banner-descripton{  
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    color: #444343;
    font-size:18px;

}
.btn{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    font-size: 20px;
    top: 578px;
    border: none;
    color: white;
    background-color: #F15B22;
    border-radius: 5px;
}
/* =======header section 2=========  */
.banner{
    width: 1070px;
    height: 700px;
    margin-left: 206px;
    margin-top: 39px;
    display: flex;
    gap: 54px;
    align-items: center;
}

.personal-images{
    max-width: 453px;
    margin-top: -95px;
}
.left-ariea-photo{
    width: 60%;
    
}
.left-ariea-dtiles{

}
.left-ariea-title{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
}
.left-ariea-descripton {
    font-size: 18px;
    color: #444343;
    line-height: 29px;
    padding-top: 15px;
}
.list-item{
    padding-top: 40px;
    line-height: 24px;
}
ul li{
    list-style: none;
    color: #444343;
    line-height: 30px;
}
.icon{
    color: #16D887;
}
/* ========My Plans================= */
.plan-section{
    width: 1140px;
    margin-left: 264px;
}
.plan-section-title{
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}
.my-plane{
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    width: 85%;
}
.plane-item{
    text-align: center;
}
.plane-item-heading {
    font-size: 25px;
    font-weight: 700;
    align-items: center;
    padding: 20px 24px;
    font-family: 'Work Sans', sans-serif;
    
}
.paragrap-title {
    
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    align-items: center;
}

.container{
    background-image: linear-gradient(111deg,#f84904c4 ,rgba(41, 36, 36, 0.17)) , url("images/watch.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1140px;
    padding: 70px 0;
    margin-bottom: 50px;
    margin-left: 215px;
}
.container-descripton{
    margin-left: 50px;
}
.container-descripton-taitle {
    Font-Weight:700;
    font-size:40px;
    Line-height:46.92px;
    color: white;
    padding-bottom: 10px;
}
.container-descripton{
    margin-left: 50px;
}
.clss-now {
    height: 64px;
    font-size: 20px;
    width: 160px;
    color: #F15B22;
    border: none;
    border-radius: 7px;
}
/* ========================about-aria============ */

.about-section{
    text-align: center;
    padding: 40px 0;
    width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.aoubt-header{
    text-align: center;
    border-bottom: 2px solid red;
    display: inline-block;
    margin-left: 650px;
    padding: 30px 0;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}
.info-aria{
    display: flex;
    align-items: left;
    gap: 30px;
    padding: 30px;
    width: 50%;
}
.images-aria{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: -9px;
}
.paragrap{
    text-align: left;
    line-height: 45px;
}
.video-aria{
 width: 40%;
 padding-right: 10px;
}
/* ===============fotter section============ */
.footer-section{
    background-color: #151414;
    padding: 70px 0;
    color: white;
    width: 100%;
    
}
.main-fotter{
    width: 1140px;
    display: flex;
    gap: 60px;
    /* align-items: center; */
    margin: auto;
}
.left-footer{
 width: 50%;
}
.left-footer h1{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
    font-family: 'Work Sans', sans-serif;

}
.left-footer p{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 20px;
} 
.image-futter img{
    position: relative;
    padding: 10px;
    margin-right: 10px;
    text-align: left;

}


.left-box{
 /* text-align: center; */
 padding-left: 150px;
}
.left-box h3{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    font-family: 'Work Sans', sans-serif;

}
.input-email {
    height: 25px;
    border-radius: 5px;
    width: 213px;
    border: 1px solid white;
    font-size: 18px;
    background: none;
    padding: 10px 30px;
}



.input-btn {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    border-radius: 5px;
    background: #ffff;
    padding: 15px 29px;
}